<div class="p-5">
  <div class="flex justify-between">
    <div class="logo">
      <a routerLink="">Logo</a>
    </div>
    <nav *ngIf="isAuth; else isNotAuth" class="gap-5 flex">
      <a
        routerLink=""
        routerLinkActive="text-white/50"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        routerLink="profile"
        routerLinkActive="text-white/50"
        [routerLinkActiveOptions]="{ exact: true }"
        >Profile</a
      >

      <button>
        <fa-icon [icon]="icon"></fa-icon>
      </button>
    </nav>

    <ng-template #isNotAuth>
        <div class="flex gap-5">
            <a routerLink="signUp">Sign Up</a>
            <a routerLink="login">Login</a>
        </div>
    </ng-template>
  </div>
</div>
